// --------------------
// BUTTON STYLE
//---------------------

.btn {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 15px 30px;
    white-space: normal;
}
.btn {
    
}