.five-reasons{
    h2{
        color:  #fff;
    }
    .styled-list{
        li{
            background: #FFFFFF;
            padding: 25px;
          

            .row{
                padding: 0px;
            }
            .icon{
                // padding: 0 10px;
                // padding-left: 10px;
                // @include media-breakpoint-up(md) {
                //     padding-left: 0px;
                // }
                svg{
                    max-width: 60px;
                    // @include media-breakpoint-up(sm) {
                    //     max-width: 60px;
                    // }
                }
            }
            .text{
                padding: 0;
                padding-right: 40px;
                padding-left: 15px;
                @include media-breakpoint-up(sm) {
                    padding-left: 0px;
                }
                .heading{
                    font-family: 'Roboto';
                    color: #95BE3F;
                    font-size: 18px;
                    line-height: 24px;
                    font-weight: 700;
                }
                .copy{
                    color: #192E50;
                    font-size: 16px;
                    line-height: 24px;
                    margin-bottom: 0 !important;
                
                }
            }

        }
    }
    .btn-section{
        padding-top: 0px;
        @include media-breakpoint-up(md) {
            padding-top: 20px;
        }
        p{
            color: #fff;
        }
    }
}