.footer-form{
    background: #F9FAFB;
    .tick{
        width: 30px;
        @include media-breakpoint-up(md) {
            
        }

        max-width: 30px !important;
    }
    .footer-list{
        p{
            margin: 0 15px
            // max-width: 465px;
        }
    }
    .subheader{
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 18px;
        line-height: 160%;
        color: #95BE3F;
        padding-bottom: 30px;
        margin-top: -20px;
        @include media-breakpoint-up(md) {
            margin-top: -50px;
        }
    }
    form input[type="submit"]{

        display:-webkit-flex;
        display:-webkit-flexbox;

        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        // width: 80px;
  
        padding: 14px 50px;

        @media screen and (min-width: 426px) {
            padding: 14px 20px;
        
        }
    }
}