.footer-form{
    background: #F9FAFB;
    .tick{
        max-width: 30px !important;

    }
    .footer-list{
        p{
            margin: 0 15px
            // max-width: 465px;
        }
    }
  
}