footer {
    background: #192E50;
    padding: 50px 20px 0px 20px;

    // @include media-breakpoint-up(md) {
    //     padding: 100px 200px 0px 200px;
    // }
    .heading{
        font-size: 1.2rem;
        line-height: 2.1rem;
        text-transform: uppercase;
        color: #95BE3F;
    }
    .copy{
        font-size: 1.2rem;
        line-height: 2.1rem;
        color: #FFFFFF;
        padding-bottom: 40px;
    }
    .kk-copywrite{
        color: #FFFFFF;
    }
}