.four-step-section{
    
    
    .styled-list{
        .click-box{
            position: relative;
            z-index: 3;
        }
        max-width: 700px;
        .dot-wrapper{
            display: none;
            @include media-breakpoint-up(md) {
                display: block;
                position: absolute;
                top: 45%;
                z-index: 1;
                left: -80px;
            }
           
            .dotted-line-base{
                position: relative;
                z-index: 2;
            }
            .dotted-line-hoz::after{
                display: none;
                @include media-breakpoint-up(md) {
                    border-top:  2px  dashed #C6C6C6;
                    content: "";
                    display: block;
                    width: calc(100% + 30px);
                    left: 17px;
                    position: absolute;
                    z-index: -1;
                    top: 18px;
                }
            }
            .dotted-line-vert::after{
                display: none;
                @include media-breakpoint-up(md) {
                    border-left:  2px  dashed #C6C6C6;
                    content: "";
                    display: block;
                    height: calc(100% + 225px);
                    left: 15px;
                    position: absolute;
                    top: -10px;
                    z-index: -1;
                }
            }
        }
        li{
            background: #F4F9EC;
            border: 1px solid #95BE3F;
            padding: 20px 10px 20px 10px;

            @include media-breakpoint-up(md) {
                padding: 33px 55px 33px 30px;
            }
            .icon{
                padding-right: 10px;
                padding-top: 10px;
                max-width: 60px;
                width: 100%;
                @include media-breakpoint-up(sm) {
                    padding-right: 20px;
                    max-width: 70px;
                    width: 100%;
                }
                svg{
                    max-width: 100%;
                }
            }
            .copy{
                max-width: 500px;
                .heading{
                    font-size: 30px;
                    font-family: $secondary-heading;
                    font-weight: 700;
                    line-height: 150%;
                    color: #95BE3F;
                    @include media-breakpoint-up(md) {
                        font-size: 36px;
                    }
                }
                .subhead{
                    @include media-breakpoint-up(md) {
                        font-size: 18px;
                    }
                    color: #192E50;
                    font-family: 'Roboto';
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 150%;
                }
                .copy{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    color: #192E50;
                }
            }
        }
        li:nth-child(1) {
            background-color: #fff;
        }
    }
        
}