.guarantee-section{
    background: #F5F9EC;
    img{
        max-width: 261px;
    }
    p{
        max-width: 100%;
        @include media-breakpoint-up(md) {
            max-width: 57%;
        }
        text-align: center !important;
    }
    .btn-section {
        padding-top: 15px;
        @include media-breakpoint-up(md) {
            padding-top: 40px;
        }
        p {
            font-size: 14px;
            @include media-breakpoint-up(md) {
                font-size: 16px;
            }
        }
    }
    .tcs{
        font-size: 14px;
    }
}