section {

 
}
.sharpen{
    image-rendering: -webkit-optimize-contrast;
}
.hero-reviews{
    max-width: 410px;
        img{
        &.gl-fix{
            padding: 5px;
        }
        &.fb-fix{
            padding-top: 5px;
        }
    }
}