.img-text-section{
    background: #F9FAFB;
    .btn-section{
        margin: auto;
        @include media-breakpoint-up(md) {
            margin: 0;
        }
        padding-top: 35px;
        max-width: 412px;
    }
    img{
        max-width: 500px;
    }
    .float-24-hour{
        position: absolute;
        z-index: 1;
        width: 145px;
        right: 5px;
        top: 42px;
        @include media-breakpoint-up(sm) {
        
        }
        @include media-breakpoint-up(md) {
            width: 200px;
            right: 25px;
            top: 198px;
        }
        @include media-breakpoint-up(lg) {
        
        }
    }
}