@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}

@function px($size){
	@return #{ $size * strip-unit($root-font-size)}px;
}

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}