.rapid-consent{
    .eyebrow{
        margin-top: 0;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #95BE3F;
    }

    h2{
        padding-top: 15px;
        margin-bottom: 15px;
    }
    .subhead{
        font-weight: 700;
        font-size: 25px;
        line-height: 117.3%;
        font-family: $headings-font;
        letter-spacing: -0.04em;
        color: #95BE3F;
        background: rgba(244, 249, 236, 0.8);
        border: 1px solid #95BE3F;
        box-sizing: border-box;
        max-width: 420px;
        margin: auto;
        padding: 10px 0;
        @include media-breakpoint-up(lg) {
            font-size: 30px;
        }

    }
    .reviews{
        padding-top: 22px;
        max-width: 410px;
        img{
            padding: 0 20px;
            max-width: 200px;
        }
    }
    .content-wrapper{
        padding-top: 3.2rem;
        padding-bottom: 4.0rem;
        li{
            color: #192E50;
        }
        ul ::marker{
            color: #95BE3F;
            width: 15px !important;
        }
        .form-text{
            text-align: left;
            // max-width: 500px;
            padding-right: 25px;
        }
        .form-img{
        text-align: center;
        @include media-breakpoint-up(lg) {
            text-align: right;
        }
            img{
                max-width: 372px;
            }
        }
    }
    .footer-list{
        font-size: 16px;
        @include media-breakpoint-up(md) {
            font-size: 18px;
            line-height: 180%;
        }
    }
    .body-social-reviews{
        max-width: 409px;
    }
}