// --------------------
// Include Fonts Here
// --------------------
@font-face {
    font-family: 'Averta-Regular';
    src: url('../fonts/Averta-Regular.woff2') format('woff2'),
    url('../fonts/Averta-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// --------------------
//  Include Basic Typography
// --------------------

:root {
    font-size: $root-font-size; // $root-font-size in variables file
    line-height: 1.4;
}

html, body {
    @include font-smoothing('on');

    @include media-breakpoint-up(md) {
        font-size: rem(20);
    }

    @include media-breakpoint-up(lg) {
        font-size: rem(24);
    }

    h1 {
        font-size: rem(30);
        line-height: 1.2;

        @include media-breakpoint-up(md) {
            font-size: rem(40);
        }
        @include media-breakpoint-up(lg) {
            font-size: rem(47);
        }
        @include media-breakpoint-up(xl) {
            font-size: rem(52);
        }
    }

    h2 {
        font-size: rem(36);
        line-height: 1.1;
    }
}

// Headline padding
h1,h2,h3,h4,h5,h6 {
    margin-bottom: 20px;
}


// Hero Specific Font Sizes
.eyebrow {
    text-transform: uppercase;
}
.subheadline {
    
}